<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="banner">
          <div class="overlap-group">
            <div class="frame">
              
              <div class="group"><div class="text-wrapper">Masuk</div>
              </div>
              
            </div>
            <div class="overlap">
              <p class="p">Selamat datang di website SIMADOK!</p>
              <p class="text-wrapper-2">Masuk terlebih dahulu untuk melanjutkan.</p>
            </div>
          </div>
        </div>
        <div class="apaan-tuh">
          <div class="overlap-2">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-2">
                    <div class="ellipse"></div>
                    <div class="ellipse-2"></div>
                    <div class="ellipse-3"></div>
                    <div class="ellipse-4"></div>
                    <div class="rectangle"></div>
                  </div>
                </div>
                <img class="img" src="img/group-1.png" />
              </div>
            </div>
            <div class="text-wrapper-3">Apa itu SIMADOK?</div>
            <p class="text-wrapper-4">
              Website ini dirancang untuk memberikan solusi yang terpadu dan efisien dalam mengelola dokumen organisasi,
              meningkatkan aksesibilitas, kolaborasi, dan keamanan dalam proses manajemen dokumen.
            </p>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-3">
            <p class="text-wrapper-5">Copyright © 2024 SIMADOK. All Rights Deserved.</p>
            <div class="flexcontainer">
              <p class="text">
                <span class="span">Jl. PKH. Mustopha No.23, Bandung 40124<br /></span>
              </p>
              <p class="text">
                <span class="span">Phone: +62-22-7272215 Ext.200<br /></span>
              </p>
              <p class="text"><span class="span">Fax: +62-227202892</span></p>
            </div>
            <img class="group-2" src="img/group-3.png" />
          </div>
        </div>
        <div class="header">
          <img class="group-3" src="img/group-3-1.png" />
          <div class="auto-layout">
            <div class="text-wrapper-6">Beranda</div>
            <div class="text-wrapper-7">Kontak</div>
            <div class="group-wrapper">
              <div class="group-4">
                <img class="profile" src="img/profile.svg" />
                <div class="text-wrapper-8">Masuk</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
