@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,var(--typography-font-weight)|Roboto:500");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  width: 1440px;
  height: 1167px;
  position: relative;
}

.element .group {
  position: absolute;
  width: 1440px;
  height: 256px;
  top: 911px;
  left: 0;
}

.element .overlap-group {
  position: absolute;
  width: 765px;
  height: 445px;
  top: 269px;
  left: 337px;
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #36363626;
}

.element .primary-button {
  display: flex;
  width: 94px;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 376px;
  left: 336px;
  background-color: rgba(60, 90, 147, 0.4) ;
  border-radius: 25px;
  position: relative;
  flex: 1;
  margin-top: -6px;
  margin-bottom: -4px;
  font-family: var(--typography-font-family);
  font-weight: var(--typography-font-weight);
  color: var(--black-color);
  font-size: var(--typography-font-size);
  letter-spacing: var(--typography-letter-spacing);
  line-height: var(--typography-line-height);
  font-style: var(--typography-font-style);
}

.element .primary-button:hover {
  display: flex;
  width: 94px;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 376px;
  left: 336px;
  background-color: #3C5A93 ;
  border-radius: 25px;
  position: relative;
  flex: 1;
  margin-top: -6px;
  margin-bottom: -4px;
  font-family: var(--typography-font-family);
  font-weight: var(--typography-font-weight);
  color: var(--secondary-color);
  font-size: var(--typography-font-size);
  letter-spacing: var(--typography-letter-spacing);
  line-height: var(--typography-line-height);
  font-style: var(--typography-font-style);
}

.element .text-wrapper {
  position: relative;
  flex: 1;
  margin-top: -6px;
  margin-bottom: -4px;
  font-family: var(--typography-font-family);
  font-weight: var(--typography-font-weight);
  color: var(--black-color);
  font-size: var(--typography-font-size);
  letter-spacing: var(--typography-letter-spacing);
  line-height: var(--typography-line-height);
  font-style: var(--typography-font-style);
}

.element .img {
  position: absolute;
  width: 346px;
  height: 64px;
  top: 53px;
  left: 226px;
}

.element .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 139px;
  left: 73px;
}

.element .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--typography-font-family);
  font-weight: var(--typography-font-weight);
  color: #000000;
  font-size: var(--typography-font-size);
  letter-spacing: var(--typography-letter-spacing);
  line-height: var(--typography-line-height);
  white-space: nowrap;
  font-style: var(--typography-font-style);
}

.element .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 227px;
  left: 73px;
}

.element .rectangle {
  width: 610px;
  height: 32px;
  top: 183px;
  background-color: #fafbfc;
  position: absolute;
  left: 81px;
  border-radius: 4px;
}

.element .rectangle-2 {
  width: 610px;
  height: 32px;
  top: 271px;
  background-color: #fafbfc;
  position: absolute;
  left: 81px;
  border-radius: 4px;
}

.element .rectangle-3 {
  width: 17px;
  height: 17px;
  top: 320px;
  accent-color: #fcfbfb;
  background-color: #fcfbfb;
  border: 0.3px solid;
  border-color: #000000b2;
  position: absolute;
  left: 81px;
  border-radius: 4px;
}


.element .frame-2 {
  display: inline-flex;
  height: 26px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 315px;
  left: 98px;
}

.element .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -10px;
  margin-bottom: -8px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--black-color);
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
}

.element .navbar {
  display: flex;
  width: 1440px;
  height: 114px;
  align-items: center;
  justify-content: center;
  gap: 233px;
  padding: 10px 75px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafbfc;
  box-shadow: 0px 4px 10px #7d7d7d4c;
}

.element .frame-3 {
  position: relative;
  flex: 0 0 auto;
}

.element .primary-button-wrapper {
  display: flex;
  width: 94px;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 40px;
  left: 1227px;
  background-color: var(--primary-color);
  border-radius: 25px;
}

.element .primary-button-2 {
  position: relative;
  flex: 1;
  margin-top: -6px;
  margin-bottom: -4px;
  font-family: var(--typography-font-family);
  font-weight: var(--typography-font-weight);
  color: var(--secondary-color);
  font-size: var(--typography-font-size);
  letter-spacing: var(--typography-letter-spacing);
  line-height: var(--typography-line-height);
  font-style: var(--typography-font-style);
}

.element .group-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 15px;
  left: 85px;
}

.element .group-2 {
  position: relative;
  width: 346px;
  height: 63.88px;
  margin-left: -8px;
  margin-right: -8px;
}

.element .navbar-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
  position: absolute;
  top: 44px;
  left: 541px;
}

.element .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--typography-font-family);
  font-weight: var(--typography-font-weight);
  color: var(--black-color);
  font-size: var(--typography-font-size);
  text-align: center;
  letter-spacing: var(--typography-letter-spacing);
  line-height: var(--typography-line-height);
  white-space: nowrap;
  font-style: var(--typography-font-style);
}

.element .vector {
  top: 12px;
  left: 202px;
  position: absolute;
  width: 7px;
  height: 5px;
}

.element .vector-2 {
  top: 56px;
  left: 1067px;
  position: absolute;
  width: 7px;
  height: 5px;
}
.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2030px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1444px;
  height: 1105px;
  top: -255px;
  left: 0;
}

.desktop .banner {
  position: absolute; 
  width: 1444px;
  height: 961px;
  top: 0;
  left: 0;
}

.desktop .overlap-group {
  position: relative;
  width: 1440px;
  height: 706px;
  top: 255px;
  background-image: url(group-5.png);
  background-size: cover;
  background-position: 50% 50%;
}


.desktop .frame {
  position: absolute;
  width: 156px;
  height: 60px;
  top: 496px;
  left: 642px;
  background-color: #ffc457;
  border-radius: 20px;
  overflow: hidden;
}
.frame:hover {
  background-color: #e5ad07;
  transform: scale(1.05);
}


.desktop .group {
  position: relative;
  width: 83px;
  height: 24px;
  top: 18px;
  left: 37px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop .overlap-2 {
  position: absolute;
  font-family: "Righteous";
  width: 912px;
  height: 158px;
  top: 288px;
  left: 264px;
}

.desktop .p {
  position: absolute;
  width: 912px;
  height: 145px;
  top: 0;
  left: 0;
  font-family: "Righteous";
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 48px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 647px;
  height: 50px;
  top: 108px;
  left: 132px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 48px;
  white-space: nowrap;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 1013px;
  height: 145px;
  top: 1000px;
  left: 217px;
  font-family: "Righteous";
  font-weight: 400;
  color: var(--primary-color);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 48px;
}

.desktop .overlap-3 {
  position: absolute;
  width: 267px;
  height: 367px;
  top: 851px;
  left: 207px;
  border-radius: 5px;
}

.desktop .kategori {
  position: absolute;
  width: 267px;
  height: 367px;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  border-radius: 5px;
  overflow: hidden;
  border: 0px none;
  border-color: var(--black-color);
}


.desktop .overlap-4 {
  position: relative;
  background-color: #ffffff;
  height: 367px;
  background-size: 100% 100%;
}

.desktop .div-wrapper {
  display: flex;
  width: 180px;
  height: 31px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 2px;
  position: absolute;
  top: 271px;
  left: 42px;
}

.desktop .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop .primary-button {
  display: flex;
  width: 210px;
  height: 32px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
  position: absolute;
  top: 314px;
  left: 28px;
  background-color: var(--secondary-color);
  border-radius: 2px;
  border: 0.2px solid;
  border-color: var(--primary-color);
}
.desktop .primary-button:hover {
  background-color: var(--primary-color); /* Change the background color on hover */
  border-color: var(--secondary-color); /* Change the border color on hover */
  cursor: pointer; /* Change the cursor to a pointer */
}
.desktop .primary-button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.2px;
  margin-bottom: -0.8px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--primary-color);
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
}
.desktop .primary-button-2:hover {
  background-color: var(--primary-color); /* Change the background color on hover */
  border-color: var(--secondary-color); /* Change the border color on hover */
  cursor: pointer;
}

.desktop .rectangle {
  position: absolute;
  width: 267px;
  height: 18px;
  top: 253px;
  left: 0;
}

.desktop .mask-group {
  position: absolute;
  width: 265px;
  height: 254px;
  top: 2px;
  left: 1px;
}

.desktop .overlap-5 {
  position: absolute;
  background-color: #ffffff;
  width: 267px;
  height: 367px;
  top: 1298px;
  left: 205px;
  border-radius: 5px;
}

.desktop .overlap-6 {
  position: relative;
  background-color: #f2f2f2;
  height: 367px;
  background-size: 100% 100%;
}

.desktop .overlap-7 {
  position: absolute;
  width: 267px;
  height: 367px;
  top: 853px;
  left: 587px;
  border-radius: 5px;
}

.desktop .overlap-8 {
  position: relative;
  height: 367px;
  background-color: #ffffff;
  background-image: url(./img/rectangle-9-4.svg);
  background-size: 100% 100%;
}

.desktop .overlap-9 {
  position: absolute;
  width: 267px;
  height: 367px;
  top: 1300px;
  left: 585px;
  border-radius: 5px;
}

.desktop .overlap-10 {
  position: relative;
  background-color: #f2f2f2;
  height: 367px;
  background-image: url(./img/rectangle-9.svg);
  background-size: 100% 100%;
}

.desktop .overlap-11 {
  position: absolute;
  width: 267px;
  height: 367px;
  top: 851px;
  left: 969px;
  border-radius: 5px;
}

.desktop .overlap-12 {
  position: relative;
  height: 367px;
  background-color: #fff;
  background-size: 100% 100%;
}

.desktop .overlap-13 {
  position: absolute;
  width: 267px;
  height: 367px;
  top: 1298px;
  left: 967px;
  border-radius: 5px;
}

.desktop .overlap-14 {
  position: relative;
  background-color: #f2f2f2;
  height: 367px;
  background-image: url(./img/rectangle-9-2.svg);
  background-size: 100% 100%;
}

.desktop .header {
  display: flex;
  width: 1440px;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 98px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--neutral-0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--neutral-2);
  box-shadow: 0px 6px 22.9px #1e1e1e2b;
}

.desktop .img {
  position: relative;
  width: 346px;
  height: 75px;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  object-fit: cover;
}

.desktop .auto-layout {
  display: inline-flex;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #7a7a7a;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop .group-wrapper {
  position: relative;
  width: 85px;
  height: 32.9px;
  background-color: #ffc457;
  border-radius: 20px;
  overflow: hidden;
}

.desktop .group-2 {
  position: relative;
  width: 65px;
  height: 24px;
  top: 4px;
  left: 11px;
}

.desktop .profile {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 2px;
  left: 0;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 21px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
}
.text-wrapper-5, .text-wrapper-6, .text-wrapper-7, .text-wrapper-8 {
  display: inline-block;
  border: none;
  border-radius: 1.25em;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
}
.text-wrapper-5:hover, .text-wrapper-6:hover, .text-wrapper-7:hover, .text-wrapper-8:hover {
  background-color: #d7d88f;
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .text-wrapper-5, .text-wrapper-6, .text-wrapper-7, .text-wrapper-8 {
    padding: 0.75em 1.5em;
    font-size: 0.875rem;
  }
}
@media (max-width: 480px) {
  .text-wrapper-5, .text-wrapper-6, .text-wrapper-7, .text-wrapper-8 {
    padding: 0.625em 1.25em; 
    font-size: 0.75rem;
  }
}
.section-footer {
  background-color: #000; 
  color: #fff;
  font-family: 'Roboto';
  text-align: left;
  padding-left: 20px ;
}


.footer-content .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content .col {
  flex: 1;
  margin: 10px;
}

.wrapper-col-1 {
  font-size: 24px;
  font-weight: 700;
}

.wrapper-col-2 .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper-col-2 .input-group .logo-itenas {
  height: 94px;
  margin-top: 20px;
}

.wrapper-col-2 .list-group {
  margin-left: 10px;
}

.wrapper-col-2 .list-group .mb-1 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 48px;
  color: #1F6BFF;
  font-weight: 700;
  margin-bottom: 5px;
}

.wrapper-col-2 .list-group p {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 20px;
  margin: 0;
}

.wrapper-col-2 p {
  font-family: 'Righteous', sans-serif;
  font-size: 24px;
  margin-top: 10px;
}



